@import "tailwindcss";

:root {
  /* Dark Cyberpunk Theme */
  --background: #030014;
  --foreground: #e5e7eb;
  
  --color-primary: #7000ff;
  --color-secondary: #00f0ff;
  --color-accent: #ff0080;
  
  /* Glassmorphism */
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-bg: rgba(255, 255, 255, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-glass-border: var(--glass-border);
  --color-glass-bg: var(--glass-bg);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
